<h2 id="notice"><%= notice %></h2>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Test_id</th>
      <th>Title</th>
      <th>Info</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.test_id %></td>
        <td><%= question.title %></td>
        <td><%= question.info %></td>
        <td>
          <a href="/questions/<%= question.id %>?test_id=<%= params[:test_id] %>">Show</a>
        </td>
        <td><form method="post" action="/questions/<%= question.id %>?test_id=<%= params[:test_id] %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Destroy">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </form></td>
      </tr>
    <% end if @questions %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_test_question_path(params[:test_id]) %>

<br>&nbsp<br>&nbsp<br>&nbsp<br>
