<div class='<%= test_passage_status %>'>
  <h1><%= t('.header', title: @test_passage.test.title) %> <%= t('.'+test_passage_status) %></h1>

  <%= t('.correct_answers_from', correct: @test_passage.correct_questions, total: @test_passage.test.questions.count) %>
  (<%= @test_passage.correct_percentage %>%)
</div>
