<div class='<%= test_passage_status %>'>
  <h1>Test '<%= @test_passage.test.title %>' was <%= test_passage_status %></h1>

  <%= @test_passage.correct_questions %> correct answers from <%= @test_passage.test.questions.count %>
  (<%= @test_passage.correct_percentage %>%)
</div>
