<p>
  <strong>for Question:</strong>
  <%= @answer.question.title %>
</p>

<%= form_with model: [@question, @answer], local: true do |form| %>
  <div>
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, size: 66 %>
  </div>

  <div>
    <%= form.label :info %>
    <%= form.text_area :info, rows: 7, cols: 60 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
