<%= form_with model: [:admin, @test], local: true do |form| %>
  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, size: 66 %>
  </div>

  <div>
    <%= form.label :info %>
    <%= form.text_area :info, rows: 7, cols: 60 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<% if @test.id %>
  <hr>
  <div>
    <strong><%= t('admin.questions.index.page_title') %>:</strong>
    <ul>
      <%= render(partial: 'admin/tests/question_edit', collection: @test.questions, as: :question) || t('activerecord.models.questions', count: 0) %>
    </ul>
    <%= link_to t('helpers.submit.question.create'), new_admin_test_question_path(@test), class: :button %><br>
  </div>
<% end %>
