<table class="table">
  <thead>
    <tr>
      <th><%= Test.human_attribute_name(:user) %></th>
      <th><%= Test.human_attribute_name(:category) %></th>
      <th><%= Test.human_attribute_name(:published) %></th>
      <th><%= Test.human_attribute_name(:level) %></th>
      <th><%= t('admin.questions.index.page_title') %></th>
      <th class="sort-by-title pointer">
        <%= Test.human_attribute_name(:title) %>
        <%= octicon 'arrow-up', class: 'text-succes hide' %>
        <%= octicon 'arrow-down', class: 'text-succes hide' %>
      </th>
      <th><%= Test.human_attribute_name(:info) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
    <tr>
      <td colspan="8"><%= t('helpers.total') %>: <%= t('activerecord.models.tests', count: @tests.count) %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to t('helpers.submit.test.create'), new_admin_test_path, class: :button %>
