<tr>
  <td><%= test.user_id %></td>
  <td><%= test.category_id %></td>
  <td><%= test.published %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.title %></td>
  <td><%= test.info %></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
