<tr>
  <td rowspan="3"><%= test.user_id %></td>
  <td rowspan="3"><%= test.category_id %></td>
  <td rowspan="3"><%= test.published %></td>
  <td rowspan="3"><%= test.level %></td>
  <td rowspan="3"><%= test.questions_count %></td>
  <td rowspan="3"><%= test.title %></td>
  <td rowspan="3"><%= test.info %></td>
  <td><%= link_to 'Show', test, class: :button %></td>
</tr>
<tr>
  <td><%= link_to 'Edit', edit_test_path(test), class: :button %></td>
</tr>
<tr>
  <td><%= button_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
