<nav>
  <%= link_to 'Тест-Гуру', root_path %>
  <div class="nav user">
    <% if logged_in? %>
      Welcome, <b><%= current_user.email %></b> Guru
      <%= link_to 'Выйти', logout_path %>
    <% else %>
      <%= link_to 'Войти', login_path %>
      <%= link_to 'Зарегистрироваться', signup_path %>
    <% end %>
  </div>
</nav>
