<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru - <%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <div class="container-fluid p-5">
      <%= render 'layouts/title' %>
      <%= render 'layouts/flashes' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
